<div class="container">
  <button *ngIf="IsAddBooksStatus() ||IsEditBooksStatus() " type="button" class="btn btn-primary" (click)="showBooks()">Show Books List</button>
  <button type="button" class="btn btn-primary" *ngIf="!IsAddBooksStatus()" (click)="userClickHandler()">Add Book</button>
  <add-book (onClickForm)="addBookHandler($event)" *ngIf="IsAddBooksStatus()"></add-book>
  <edit-book [book]="bookToEdit" (onClickEdit)="editBookHandler($event)" *ngIf="IsEditBooksStatus()" class="modal fade" id="myModalNorm"
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></edit-book>
  <div class="table-responsive" *ngIf="IsShowBooksStatus()">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Autuor</th>
          <th>Title</th>
          <th>Date</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrBooks">
          <td> {{item.Autuor| capitalize:true}}</td>
          <td> {{item.Title | capitalize:true}}</td>
          <td> {{item.Date}}</td>
          <td>
            <span data-toggle="modal" data-target="#myModalNorm" (click)="editBook(item)" class="glyphicon glyphicon-edit"></span>
          </td>
          <td>
            <delete-book (click)="deleteBook(item)" (yesOrNot)="yesOrNotCather($event)"></delete-book>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-success" *ngIf="messeges != null">
      {{messeges}}
    </div>
  </div>
</div>